/* Coop's Resume CSS, I am stylin' on 'em! */

/* some ground rules... */
BODY {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

/* paige widthhhh :ppp ! */
#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* naming style! */
#name {
    font-size: 3em;
    color: #33485e;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
}

/* Cooper's title style supreme */
#title {
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    color: #33485e;
    font-weight: 600;
    margin: 20px 0 0 0;
}

/* contact coop info style! */
.menu {
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline;
}

/* Section titles */
.sectionheader {
    font-size: 1.5em;
    background-color: #33485e;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin: 20px 0 10px 0;
    width: 70%;
    min-width: 300px;
}

/* Job titlezz */
.jobtitle {
    font-size: 1.5em;
    font-weight: 600;
}

/* organization styles */
.organization {
    font-size: 1.25em;
    font-weight: 400;
}

/* Job dates */
.date {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    margin: 2px 0 0 0;
}

/* job description styles */
.description {
    margin: 10px 0;
}

/* education styles */
#degrees {
    margin: 5px 0 0 0;
}

/* skills styles */
#do {
    margin: 5px 0 0 0;
}

/* mission statement (keep this at the bottom!) */
.top {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}